<footer class="footer">
    <div class="grid">
        <div class="grid__row-footer">
            <div class="col grid__column-intro">
                <div class="col__column-inner">
                    <img width="220" height="150" src="./img/footer_danasa.png"
                        class="attachment-original size-original" alt="">
                    <div class="icon-box-text last-reset">
                        <p style="width: 60%; text-align-last: center;">Công ty cổ phần xe khách Danasa Bus
                            Lines</p>
                    </div>

                    <div class="social-icons follow-icons">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </div>
            </div>

            <div class="col grid__column-lienhe">
                <div class="col-inner">
                    <h3 style="padding-right: -20px;width: 250px;">THÔNG TIN LIÊN HỆ</h3>
                    <div class="icon-box icon-box-left text-left">
                        <div class="icon-box-img" style="width: 100%">
                            <i class="fa-solid fa-location-dot"></i>
                            <div class="icon-box-text last-reset">
                                <p style="width: 90%; ">54 Nguyễn Lương Bằng, Hòa Khánh Bắc,
                                    Liên Chiểu, Đà Nẵng </p>
                            </div>
                        </div>
                    </div>

                    <div class="icon-box icon-box-left text-left">
                        <div class="icon-box-img" style="width: 70%">
                            <i class="fa-solid fa-phone" style="font-size: 17px;"></i>
                            <div class="icon-box-text last-reset">
                                <p>076 922 0162</p>
                            </div>
                        </div>

                        <div class="icon-box icon-box-left text-left">
                            <div class="icon-box-img" style="width: 70%">
                                <i class="fa-solid fa-envelopes-bulk" style="font-size: 17px;"></i>
                                <div class="icon-box-text last-reset">
                                    <p>dt.dhbk@dut.udn.vn</p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col grid__column-hinhanh">
                <div class="col-inner">
                    <h3>HÌNH ẢNH</h3>
                    <div class="grid__row-3-col-3">
                        <div class="galary-col col">
                            <div class="container">
                                <img src="./img/xe_do.jpg" alt="Xe đỏ">
                                <img src="./img/xe_xanh2.jpg" alt="Xe đỏ">
                            </div>
                            <div class="container">
                                <img src="./img/xe_xanh1.jpg" alt="Xe đỏ">
                                <img src="./img/xe_do2.jpg" alt="Xe đỏ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col grid__column-dangky">
                <div class="col-inner">
                    <h3 style="width: 250px;">ĐĂNG KÝ</h3>
                    <p>Đăng ký để nhận được thông tin mới nhất từ chúng tôi.</p>
                    <div role="form">
                        <form>
                            <p>
                                <span class="email-dang-ky">
                                    <input type="email" name="email-dang-ky" value="" size="35" placeholder="Email..."
                                        class="nhapEmail">
                                </span>
                            <div class="email-btn-dang-ky">
                                <input type="submit" value="Đăng ký" class="btnDangKy">
                            </div>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
