<div class="grid">
    <div class="container-error">
        <p class="title__error">404 NOT FOUND</p>
        <div class="message__content">
            <h4 class="font-16">Oops, have something wrong</h4>
            <a href="/">
                <button class="home-btn font-14">
                    Go to home page
                </button>
            </a>
        </div>
    </div>
</div>